<div #wrapper class="wrapper" style="height: 0;">
  <div>
    <material-button (click)="onInsert()" class="insert-btn" aria-label="insert" icon>
      <glyph icon="unfold_more"></glyph>
    </material-button>
  </div>
  <div class="entry">
    <div class="entry-number">{{data.index}}</div>
    <div class="content" [ngSwitch]="data.type.index">
      <div class="configure" *ngSwitchWhen="0">
        <material-button raised
          (click)="configure(1)">Symbol table</material-button>
        <material-button raised
          (click)="configure(2)">Definition</material-button>
        <material-button raised
          (click)="configure(3)">Apply definition</material-button>
        <material-button raised
          (click)="configure(4)">Numeric simplify</material-button>
      </div>
      <div *ngSwitchWhen="1">
        <symbols-table [symbols]="data.symbols"></symbols-table>
      </div>
      <div *ngSwitchWhen="2">
        <div #guppyDefine (blur)="saveEquation()" class="mathbox"></div>
      </div>
      <div *ngSwitchWhen="3" class="apply-flex">
        <div class="left-panel">
          <div class="panel-col">
            <material-input
              type="number" label="source"
              displayBottomPanel="false"
              leadingText="Source"
              (change)="updateApply()"
              [(numericValue)]="data.applySource"
              [checkInteger]="true"
              [lowerBound]="0"></material-input>
            <material-input
              type="number" label="target"
              displayBottomPanel="false"
              leadingText="Target"
              (change)="updateApply()"
              [(numericValue)]="data.applyTarget"
              [checkInteger]="true"
              [lowerBound]="0"></material-input>
            <material-input
              type="number" label="index"
              displayBottomPanel="false"
              leadingText="Index"
              (change)="updateApply()"
              [(numericValue)]="data.applyIndex"
              [checkInteger]="true"
              [lowerBound]="0"></material-input>
          </div>
        </div>
        <div class="right-panel">
          <span #appliedEquation></span>
        </div>
      </div>
      <div *ngSwitchWhen="4">
        <div class="left-panel">
          <div class="panel-col">
            <material-input
              type="number" label="source"
              displayBottomPanel="false"
              leadingText="Compute"
              [(numericValue)]="data.computeSource"
              [checkInteger]="true"
              [lowerBound]="0"></material-input>
          </div>
        </div>
      </div>
    </div>
    <material-button (click)="onDelete()" class="delete-btn" aria-label="delete" icon>
      <glyph icon="delete"></glyph>
    </material-button>
  </div>
</div>
