<div #wrapper class="wrapper" style="height: 0;">
  <div>
    <material-button (click)="onInsert()" class="insert-btn" aria-label="insert" icon>
      <glyph icon="unfold_more"></glyph>
    </material-button>
  </div>
  <div class="entry">
    <div class="entry-number">{{data.index + 1}}</div>
    <div class="content" [ngSwitch]="data.type.index">
      <div class="configure" *ngSwitchWhen="0">
        <material-button raised
          (click)="configure(1)">Symbol table</material-button>
        <material-button raised
          (click)="configure(2)">Definition</material-button>
        <material-button raised
          (click)="configure(3)">Apply definition</material-button>
        <material-button raised
          (click)="configure(4)">Numeric simplify</material-button>
      </div>
      <div *ngSwitchWhen="1">
        <table class="symbols-table">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>LaTeX</th>
              <th>Rendered</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let symbol of data.symbols; let i = index;">
              <td>
                <material-button (click)="addSymbol(i)"
                    aria-label="insert" icon>
                  <glyph icon="add"></glyph>
                </material-button>
              </td>
              <td>
                <material-input
                  type="text" displayBottomPanel="false"
                  [(inputText)]="symbol.name"
                  (change)="updateSymbol(i)">
                </material-input>
              </td>
              <td>
                <material-input
                  type="text" displayBottomPanel="false"
                  [(inputText)]="symbol.latex"
                  (change)="updateSymbol(i)">
                </material-input>
              </td>
              <td class="symbols-latex-rendered">
                <span #symbolLaTeXRendered></span>
              </td>
              <td>
                <material-button (click)="removeSymbol(i)"
                    aria-label="remove" icon>
                  <glyph icon="remove"></glyph>
                </material-button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngSwitchWhen="2">
        <div #guppyDefine class="mathbox"></div>
      </div>
      <div *ngSwitchWhen="3">
        <div class="left-panel">
          <div class="panel-col">
            <material-input
              type="number" label="source"
              displayBottomPanel="false"
              leadingText="Source"
              [(numericValue)]="data.applySource"
              [checkInteger]="true"
              [checkPositive]="true"></material-input>
            <material-input
              type="number" label="target"
              displayBottomPanel="false"
              leadingText="Target"
              [(numericValue)]="data.applyTarget"
              [checkInteger]="true"
              [checkPositive]="true"></material-input>
            <material-input
              type="number" label="index"
              displayBottomPanel="false"
              leadingText="Index"
              [(numericValue)]="data.applyIndex"
              [checkInteger]="true"
              [checkPositive]="true"></material-input>
          </div>
        </div>
      </div>
      <div *ngSwitchWhen="4">
        <div class="left-panel">
          <div class="panel-col">
            <material-input
              type="number" label="source"
              displayBottomPanel="false"
              leadingText="Compute"
              [(numericValue)]="data.computeSource"
              [checkInteger]="true"
              [checkPositive]="true"></material-input>
          </div>
        </div>
      </div>
    </div>
    <material-button (click)="onDelete()" class="delete-btn" aria-label="delete" icon>
      <glyph icon="delete"></glyph>
    </material-button>
  </div>
</div>
